<form-wrapper [formTitle]="title" [component]="this">
  <div [formGroup]="entityForm">
      <div class="row">
          <mat-form-field class="col-6">
              <input matInput name="nome" formControlName="nome" placeholder="Nome" required/>
          </mat-form-field>

          <mat-form-field class="col-4">
              <mat-select [compareWith]="compareDivisoes" formControlName="divisao" placeholder="Divisão responsável" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let divisao of divisoes" [value]="divisao">{{ divisao.nome }}</mat-option>
              </mat-select>
          </mat-form-field>
      </div>
  </div>
</form-wrapper>