<mat-card-title>
  <h1>About</h1>
</mat-card-title>
<mat-card>
  <mat-card-title>
    <mat-icon class="mr-3">info</mat-icon>Title App
  </mat-card-title>
  Version: {{versao}}
</mat-card>
<br>
<mat-card>
    <div class="form-row">
  <div class="d-flex ml-2 mt-2 mr-3">
    <mat-icon>code</mat-icon>
  </div>
  <div class="col text-left">
    Developed by
    <a href="https://neostech.com.br/">Néos Technology</a>
    <br>
    <a href="mailto:contato@neostech.com.br">contato@neostech.com.br</a>
  </div>
  </div>

</mat-card>