<mat-card-title>
    <h2>Change password</h2>
</mat-card-title>
<mat-card>
    <form (ngSubmit)="onSubmit()" novalidate>
        <div [formGroup]="entityForm">
            <input type="text" hidden="true" autocomplete="username" value="" />
            <div class="row">
                <mat-icon>lock</mat-icon>
                <mat-form-field class="col-9">
                    <input matInput type="password" autocomplete="current-password"  name="senhaAtual" formControlName="senhaAtual" placeholder="Current password" required/>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-icon>lock</mat-icon>
                <mat-form-field class="col-9">
                    <input matInput type="password" autocomplete="new-password" name="senhaNova" formControlName="senhaNova" placeholder="New password" required/>
                </mat-form-field>
            </div>
            <p class="alert alert-danger" *ngIf="entityForm.controls['senhaNova'].hasError('minlength')">
                Muito curta
            </p>
            <div class="row">
                <mat-icon>lock</mat-icon>
                <mat-form-field class="col-9">
                    <input matInput type="password" autocomplete="new-password" name="senhaNovaCopy" formControlName="senhaNovaCopy" placeholder="Put new password again" required/>
                </mat-form-field>
            </div>
            <p class="alert alert-danger" *ngIf="entityForm.hasError('invalidPassword')">
                As senhas não correspondem
            </p>
            <button [disabled]="!entityForm.valid" mat-button mat-raised-button color="primary">Save</button>
        </div>
    </form>
</mat-card>