<div class="background pt-5">
  <div class="col-12">
      <mat-card class="col-12">
          <mat-card-header class="header">
              <h4>APP TITLE</h4>
            </mat-card-header>
      </mat-card>
  </div>
  <div class="full-content">

    <mat-card class="col-sm-12 col-md-4 card-authentication">
      <mat-card-header class="header">
        <h4>Authentication</h4>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="login()" novalidate>
          <div [formGroup]="entityForm">
            <div class="row">
              <mat-icon>account_circle</mat-icon>
              <mat-form-field class="col-9">
                <input matInput type="text" autocomplete="username" name="username" formControlName="username"
                  placeholder="E-mail" required />
              </mat-form-field>
            </div>
            <div class="row">
              <mat-icon>lock</mat-icon>
              <mat-form-field class="col-9">
                <input matInput type="password" autocomplete="current-password" name="password" formControlName="password"
                  placeholder="Password" required />
              </mat-form-field>
            </div>
            <div class="row justify-content-center mb-3">
              <button [disabled]="!entityForm.valid || isWaiting" mat-button mat-raised-button color="primary">Login</button>
              <mat-spinner class="ml-3" *ngIf="isWaiting" diameter="24"></mat-spinner>
            </div>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button class="ml-3" [routerLink]="'/login/forgotpassword'" mat-button>Forgot password</button>
      </mat-card-actions>
    </mat-card>


  </div>


</div>