@import '../../../colors.scss';
@import '../../../styles.scss';


.card .card-header {
    color: #FFFFFF;
    border-radius: 5px;
    margin: -20px 15px 0;
    position: relative;
}

.card .green {
    background: linear-gradient(60deg, mat-color($green, 400), mat-color($green, 500));
}

.card .red {
    background: linear-gradient(60deg, mat-color($red, 400), mat-color($red, 500));
}

.card .blue {
    background: linear-gradient(60deg, mat-color($blue, 400), mat-color($blue, 500));
}

.card .yellow {
    background: linear-gradient(60deg, mat-color($yellow, 400), mat-color($yellow, 500));
}

.card .orange {
    background: linear-gradient(60deg, mat-color($orange, 400), mat-color($orange, 500));
}

.card-content {
    padding: 15px 20px;
}

.card {
    display: inline-block;
    width: 100%;
}

.card-stats .card-header {
    float: left;
    text-align: center;
}


.card-stats .card-header {
    padding: 10px 15px 10px 15px;
}

.card-stats .card-header i {
    font-size: 25px;
    line-height: 20px;
    width: 20px;
    height: 20px;
}

.card .card-content .category {
    margin-bottom: 0;
    color: #999999;
    font-size: 14px;
    margin: 0 0 10px;
    text-align: right;
}

.card .card-content .card-title {
    margin: 0;
    text-align: right;
    color: #666666;
}

.card-stats .card-footer {
    padding: 0;
}

.card-footer .mat-icon-button {
    font-size: 13px;
    color: #999999;
}

.card-footer .mat-icon-button .mat-icon {
    font-size: 18px;
    color: #999999;
}

@media(max-width: 400px) {
    .card-stats .card-header {
        padding: 30px 35px 30px 35px;
    }
}